.landingpage{
    min-height: 100vh;
    background-color: slategrey;
}

.intro{
    text-align: center;
}

.intro>h1{
    color: rgb(217, 221, 228);
    padding-top: 70px;
}

.intro>p{
    font-style: italic;
    padding-top: 80px; 
    font-size: 3vh; 

}
.lists{
    display:flex;
    justify-content: space-around;
    padding-top: 50px;
}

.flow{
    display: flex;
    justify-content:space-between;
}

.lst1{
    color: white;
    padding: 20px;
}

.lst1:hover{
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}


#gender{
    width: 155px;
    height: 25px;
}

button{
    background-color: rgb(54, 53, 53);
    color: #ffffff;
    width: 80px;
    padding: 8px;
    font-weight: bold;
    font-size: 12px;
    border: none;
    border-radius: 30px;
}

button:hover{
    cursor:pointer;
    background-color: rgb(61, 112, 61);
}

display_output{
    background-color: transparent;
    border: groove;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    height: 150px;
     width: 80%;
}


@media  only screen and (max-width: 600px) {
.landingpage{
    width: 100%;
}
}
    

    

