.landingpage{
    min-height: 100vh;
    background-color: slategrey;
    cursor: pointer;
}

.intro{
    text-align: center;
}

.intro>h1{
    color: rgb(217, 221, 228);
    padding-top: 70px;
}

.intro>p{
    font-style: italic;
    padding-top: 80px; 
    font-size: 4vh; 

}
.lists{
    display:flex;
    justify-content: space-around;
    padding-top: 80px;
}



.lst1{
    color: white
}

.lst2{
    color: white;
}

.form{
    font
}

@media (max-width:600px) {
    /* For tablets: */
    .landingpage{
      width: 80%;
      padding: 0;
    }
}
    

